$mobile:992px;

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}
.contact{
    background: #131313;
    height: 100%;
    .size-box{
        height: 30vh;
    }
    .contact_form{
        position: relative;
    }
    span{
        color: #ffffff;
        opacity: .8;
        font-family: "Fahkwang", sans-serif;
        font-size: 38px;
        @include mobile{
            font-size: 20px;
        }
    }
    input,textarea{
        background: none;
        border: none;
        border-bottom: 1px solid #ffffff;
        font-size: 22px;
        width: 300px;
        color: #ffffff;
        padding: 0 10px;
        margin-bottom: 30px;
        @include mobile{
            font-size: 20px;
            width: 200px;
        }
        &::placeholder{
            font-size: 20px;
            text-align: center;
        }
        &:focus{
            outline: none;
        }
    }
    textarea{
        width: 100%;
    }
    .submit{
        height: 120px;
        width: 120px;
        position: absolute;
        right: 0;
        bottom: -150px;
        border-radius: 50%;
        border: none;
        font-size: 18px;
        background: #ffffff;
        color: #131313;
        text-transform: uppercase;
        font-weight: 500;
        transition: .2s ease-in;
        &:hover{
            letter-spacing: 2px;
        }
    }
     
}